<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GetVsts</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<servlet>
<servlet-name>arn</servlet-name>
<servlet-class>edu.bu.ec500.arn.controller.ArnController</servlet-class>
</servlet>
<servlet>
<servlet-name>arnCallback</servlet-name>
<servlet-class>edu.bu.ec500.arn.controller.AuthorizationCallback</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>arn</servlet-name>
<url-pattern>/test</url-pattern>
</servlet-mapping>

<servlet-mapping>
<servlet-name>arnCallback</servlet-name>
<url-pattern>/oauth/callback</url-pattern>
</servlet-mapping>


</web-app>